Host Demeter
  # GG:DESCRIPTION: Development server for Demeter project
  User dave.developer
  HostName localhost
  Port 22
  IdentityFile /home/roman/.ssh/id_rsa_1
Host Hermes
  # GG:DESCRIPTION: Security server for Hermes project
  User harry.hacker
  HostName localhost
  Port 33
  IdentityFile /home/roman/.ssh/id_rsa_2
Host Morpheus
  User mike.manager
  HostName localhost
  Port 44
  IdentityFile /home/roman/.ssh/id_rsa_3
Host Thanatos
  User tony.tester
  HostName localhost
  Port 55
  IdentityFile /home/roman/.ssh/id_rsa_4
